div.card-deck{
display: flex;
margin-top: 20px;
margin-left: 100px;

}
div.card-deck  .card{
    display: flex;
    border:1px solid;
    margin:0px 20px 0px 20px;
    padding:33px;
    width:100px;
    height:100px;
    
    }
    .teams
    {
        font-size:36px;
    font-weight: bold;
    }
    .kolkata
    {
        margin-top: 0px;
        margin-left: 19px;
        width: 59px;
    }
    .kkr
    {
        font-weight: bold;
        font-size: 24px;
        margin-left: 16px;
    }
    .csk
    {
        font-weight: bold;
        font-size: 24px;
        margin-left: 6px;
    }
    .knight
    {
        font-weight:bold;
        margin-left:-2px;
    }
    .chennai
    {
    margin-left: 10px;
    width: 87px;
    margin-top: 10px;
    }
    .super
    {
        margin-left:9px;
        font-weight: bold;
    }
    .bangalore
    {
    height: 70px;
    width: 61px;
    margin-left: 13px;
    margin-top: 10px;

    }
    .mi
    {
        font-weight: bold;
        font-size: 24px;
        margin-left: 5px;
    }
    .dc
    {
        font-weight: bold;
        font-size: 24px;
        margin-left: 11px;
    }
    .kxip
    {
        font-weight: bold;
        font-size: 24px;
        margin-left: 12px;
    }
    .rcb
    {
        font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
    }