@media(min-width:1025px)
{

.final-details
{
    border:1px solid;
    padding: 15px 110px 14px 113px;
    margin-left: 100px;
    align-content: center;
    margin-top: 40px;
   
}
.finale{
    font-size: 24px;
    font-weight: bold;
}
.details{
    font-size:24px;
    font-weight:bolder;
}
.trophy
{
    width: 322px;
}
.participation{
    border: 1px solid;
    padding: 15px 49px 14px 61px;
    margin-left: 84px;
    align-content: center;
    margin-top: 40px;
}
.participating-teams
{
    font-size: 24px;
    font-weight: bold;
}
.team-table{
    margin-top:20px;
}
.ReactTable .-pagination{
    margin-top:40px;
}
}
@media(min-width:769px) and (max-width:1025px)
{
    .final-details
{
    border:1px solid;
    padding: 15px 110px 14px 113px;
    margin-left: 100px;
    align-content: center;
    margin-top: 40px;
   
}
.finale{
    font-size: 24px;
    font-weight: bold;
}
.details{
    font-size:24px;
    font-weight:bolder;
}
.trophy
{
    width: 322px;
}
.participation{
    border: 1px solid;
    padding: 15px 129px 14px 129px;
    margin-left: 313px;
    align-content: center;
    margin-top: 40px;
    
}
.participating-teams
{font-size: 24px;
    font-weight: bold;
    margin-left: -68px;
}
.team-table{
    margin-top: 20px;
    margin-left: -40px;
}
.ReactTable .-pagination{
    margin-top:40px;
}
}
@media(min-width:577px) and (max-width:769px)
{
    .final-details
{
    border:1px solid;
    padding: 15px 110px 14px 113px;
    margin-left: 100px;
    align-content: center;
    margin-top: 40px;
   
}
.finale{
    font-size: 24px;
    font-weight: bold;
}
.details{
    font-size:24px;
    font-weight:bolder;
}
.trophy
{
    width: 322px;
}
.participation{
    border: 1px solid;
    padding: 15px 100px 14px 100px;
    margin-left: 462px;
    align-content: center;
    margin-top: 40px;
}
.participating-teams
{
    font-size: 24px;
    font-weight: bold;
}
.team-table{
    margin-top:20px;
    
}
.ReactTable .-pagination{
    margin-top:40px;
}
}
@media(min-width:300px) and (max-width:577px)
{
    .final-details
{
    border: 1px solid;
    padding: 15px 58px 14px 282px;
    margin-left: 125px;
    align-content: center;
    margin-top: 40px;
   
}
.finale{
    margin-left: -229px;

    font-size: 24px;
    font-weight: bold;
}
.date{
    margin-left: -229px;

}
.details{
    margin-left:-211px;
    font-size:24px;
    font-weight:bolder;
}
.team-a{
    margin-left: -221px;

}
.matchvenue
{
    margin-left: -268px;
    margin-right: -64px;
}
.matchcity
{
    margin-left: -218px;
}
.winning-stats{
    margin-left: -211px; 
}
.head-mom{
    margin-left: -218px;
}
.mom{
    margin-left: -218px;
}
.trophy
{
    width: 119px;
    margin-left: -219px;
}
.participation{
    border: 1px solid;
    padding: 15px 63px 14px 281px;
    margin-left: 125px;
    align-content: center;
    margin-top: 40px;
}
.participating-teams
{
    margin-left:-248px;
    font-size: 24px;
    font-weight: bold;
}
.team-table{
    width:281px;
    margin-top:20px;
    margin-left: -241px;
}
.ReactTable .-pagination{
    margin-top:40px;
}
}

